@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  background-color: #1c1c1c;
  color: white;
}

.hero-section {
  background-color: var(background-color);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  z-index: 20;
  text-align: center;
  position: relative;
}
.text {
  font-size: 6.9rem;
  font-weight: bolder;
  color: var(color);
  letter-spacing: -0.01em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  margin: 0;
  line-height: 1;
}
.circular-layout {
  height: 600px;
}
.diagonal-line {
  position: absolute;
  width: 408px;
  height: 1px;
  background-color: var(--line-color);
  top: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.diagonal-line-1 {
  left: 0;
  transform: rotate(33.3deg);
  transform-origin: top left;
}

.diagonal-line-2 {
  right: 0;
  transform: rotate(-33.3deg);
  transform-origin: top right;
}

.custom-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: bold;
}

.transparent-content {
  display: none;
  width: calc(100%);
  height: calc(100% - 50px);
  background-color: transparent;
  border: 1px solid var(--line-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
