@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #1c1c1c;
  --line-color: #565664;
}

.hero-section {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  z-index: 20;
  text-align: center;
  position: relative;
}

.text-container {
  text-align: center;
  position: relative;
}
.text {
  font-size: 7.9rem;
  font-weight: bold;
  color: white;
  letter-spacing: -0.01em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  margin: 0;
  line-height: 1;
}
.circular-layout {
  height: 600px;
}

.circular-item {
  position: absolute;
  width: 400px;
  height: 200px;
  transform: translate(-50%, -50%);
}

.circular-item:nth-child(1) {
  top: 30%;
  left: 30.6%;
}

.circular-item:nth-child(2) {
  top: 10%;
  left: 80%;
}

.circular-item:nth-child(3) {
  top: 80%;
  left: 30%;
}
.circular-item:nth-child(4) {
  top: 60%;
  left: 78%;
}

.diagonal-line {
  position: absolute;
  width: 408px;
  height: 1px;
  background-color: var(--line-color);
  top: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.diagonal-line-1 {
  left: 0;
  transform: rotate(33.3deg);
  transform-origin: top left;
}

.diagonal-line-2 {
  right: 0;
  transform: rotate(-33.3deg);
  transform-origin: top right;
}

.custom-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: bold;
}

.transparent-content {
  display: none;
  width: calc(100%);
  height: calc(100% - 50px);
  background-color: transparent;
  border: 1px solid var(--line-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
